/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  height: 100%;
}
ul {
  padding: 0;
  margin: 0;
}

header {
   background: lightblue;
}

h1 {
  margin: 10px auto;
  width: 700px;
  text-align: left;
  font-family: sans-serif;
  padding: 10px;
  color: white;
  font-style: bold;
}
div#content {
  font-family: sans-serif;
  margin: auto;
  width: 700px;
  padding: 10px 20px 10px 20px;

  border: 1px solid lightgrey;
}

.refresh {


}
.delete {
  float: right;
}

.new-feed {
  text-align: left;
  width: 150px;
}

.feed-url {

}

.feed-title {

}
li {
  margin: 15px 0;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid lightgray;
  padding: 10px;
  padding-bottom: 5px;
  transition: all 0.02s;
  background: #FFF;
}

li:hover {
  background: #EEE;
}

button {
  color: none;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  color: darkblue;
  width: 100px;

}
/*
.new-feed > .add-feed:hover {
    color: black;
}*/
/*a:hover {
  font-size: 1.5em;
  color: blue;

}*/
.new-feed {
  color: darkblue;
  padding-top: 0px;
  display: block;
  margin-top: 10px;
  position: relative;
  height: 10px;
  width: 70px;
  overflow: hidden;
  padding: 4px 10px 10px 10px;
  border: 1px solid lightgray;
  transition: all 0.4s;
}
.new-feed:hover {
  padding-top: 10px;
  height: 130px;
  width: 130px;
  color: gray;
  background: #EEE;

}